.card-container {
    display: flex;
    flex-direction: row;
    padding: 3%;
}

.card-img {
    max-width: 20vh;
    max-height: 20vw;
}

.card-body {
    display: flex;
    flex-direction: column;

}

.card-price {
    display: flex;
}